body{
    color: #24211D;
    font-size: 14px;
    font-family:Arial, sans-serif;
    
    background-image: url('../img/userpanel/fundo.png');
    background-size: 100% 100%;
   	background-attachment: fixed;
   	background-repeat: no-repeat;
}

#container {
    margin:10px auto;
    padding:10px;
    background: #FAEBD7;
    font-weight: bold;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input {
    padding: 3px 0;
}
.block {
    width:100%;
    margin:auto;
    display:block;
    background: #FFF;
}

h1{
    display:block;
    margin-bottom:5px;
    text-align:center;
    padding:10px;
    font-size:16px;
    background: #6AC334;
    color:#FFF;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

button {
    padding:10px 30px;
    background:#6AC334;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    border: 0;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#a-cadastro, #a-cadastro:visited {
	color: #E37002;
}

.clear {
    clear:both;
}

#erro {
    margin-top: 10px;
    font-weight: bold;
    color: red;
}
#valor {
	display: inline-block;
	margin-bottom: 20px;
}
#valor-subtotal {
	width: 350px;
	height: 30px;
	padding: 30px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #DCF0C7;
	border: 1px solid #DCDCDC;
}
#valor-instalacao {
	width: 300px;
	height: 30px;
	padding: 30px 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-top: 0;
	margin-left: 0;
	background: #DCF0C7;
	border: 1px solid #DCDCDC;
}
#mais {
	margin-top: -50px;
	margin-left: 330px;
}
#valor-licenca {
	width: 190px;
	height: 30px;
	padding: 30px 10px;	
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-top: -57px;
	margin-left: 345px;
	text-align: center;
	background: #DCF0C7;
	border: 1px solid #DCDCDC;
}
#igual {
	margin-top: -50px;
	margin-left: 570px;
}
#valor-total {
	width: 100px;
	height: 30px;
	padding: 30px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-top: -57px;
	margin-left: 590px;
	text-align: center;
	background: #DCF0C7;
	border: 1px solid #DCDCDC;
}
